<header class="header flex">
  <nav class="header__nav d-flex">
    <i id="bars" class="fas fa-bars icon_cor"></i>
    <h1 class="header__nav__title"><a href="/" class="header__nav__title reset-link">AnimesFlow</a></h1>
    <ul class="header__nav__list d-flex">
      <li class="header__nav__list__itens enav"><a href="#" class="header__header__list__itens__link reset-link assine">ASSINE HOJE</a></li>
      <li class="header__nav__list__itens"><a href="/animes" class="header__nav__list__itens__link reset-link">Calendario</a></li>
      <li class="header__nav__list__itens"><a href="/calendario" class="header__nav__list__itens__link reset-link">Animes</a></li>
    </ul>
  </nav>
  <div class="header__options d-flex">
    <ul class="header__options__list d-flex">
      <li class="header__options__list__itens hidden"><a href="#" class="header__options__list__itens__link reset-link hidden assine">ASSINE HOJE</a></li>
      <li id="search" class="header__options__list__itens"><i class="fas fa-search icon_cor"></i></li>
      <li id="my-accont" class="header__options__list__itens"><i class="far fa-user icon_cor"></i></li>
    </ul>
  </div>
</header>
