<div>
  <i id="bars" class="fas fa-bars icon_cor isActie"></i>
  <div class="sidebar asActive">
    <ul class="sidebar__list">
      <div class="sidebar__list__title">
        Panel
      </div>

      <hr class="sidebar__list__separetor">

      <li class="sidebar__list__itens"><a class="sidebar__list__itens__link" href="/adm">Home</a></li>

      <hr class="sidebar__list__separetor">

      <div class="sidebar__list__category">Animes</div>

      <li class="sidebar__list__itens"><a class="sidebar__list__itens__link" href="/adm/animes">Animes</a></li>

      <li class="sidebar__list__itens"><a class="sidebar__list__itens__link" href="/adm/Genres">Genres</a></li>

      <li class="sidebar__list__itens"><a class="sidebar__list__itens__link" href="/adm/languages">Languages</a></li>

      <li class="sidebar__list__itens"><a class="sidebar__list__itens__link" href="/adm/dubbing">Dubbing</a></li>

      <hr class="sidebar__list__separetor">

      <div class="sidebar__list__category">Users</div>

      <li class="sidebar__list__itens"><a class="sidebar__list__itens__link" href="/adm/users">Users</a></li>

      <li class="sidebar__list__itens"><a class="sidebar__list__itens__link" href="/adm/roles">Roles</a></li>

      <hr class="sidebar__list__separetor">
    </ul>

  </div>

</div>
