@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
    --secundary: #410099;


    --black: black;
    --white: white;

    --atention: #ffc72c;
}

* {
    font-family: 'Poppins', sans-serif;
}

.d-flex {
    display: flex;
    align-items: center;
}

.reset-link {
    text-decoration: none;
}

