{% extends '/layouts/panel.twig' %}

{% block head %}
  <link rel="stylesheet" href="/assets/css/components/panel/anime.css">
{% endblock %}

{% block body %}
  <div class="table">

  </div>
{% endblock %}

{% block scriptsBody %}
  <script type="module" src="/assets/js/adm/router/anime.js"></script>
{% endblock %}