{% extends '/layouts/panel.twig' %}

{% block head %}
  <link rel="stylesheet" href="/assets/css/adm/home.css">
  <link rel="stylesheet" href="/assets/css/components/panel/anime.css">
{% endblock %}

{% block body %}
  <div class="table">
    <div class="animes"></div>
    <div class="temporadas"></div>
    <div class="episodios"></div>
  </div>
{% endblock %}

{% block scriptsBody %}
  <script type="module" src="/assets/js/adm/router/home.js"></script>
{% endblock %}